
# Compilation result
work
transcript
db

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib
*~
*.DS_Store
*.dep
\#*
*._*
*#
*.swp
*.#*
*.qsf
*.qpf

# Executables
*.exe
*.out
*.app